/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
  }
  .ribbon {
    --r: .8em;  /* control the cutout of the ribbon */
    --a: 35deg; /* control the angle (only positive values) */
    /* --c: #8FBE00; */
    --c: #FF5555;

    /* --r:  .6em; control the cutout of the ribbon */
    --s: 1.5em; /* size of the folded part */
    

    line-height: 1.7;
    padding-inline: calc(tan(var(--a))*1lh + .3em);
    background:
      linear-gradient(calc(90deg + var(--a)),
        #0000 calc(1lh*sin(var(--a)) - 1px),
        var(--c) calc(1lh*sin(var(--a))) calc(100% - 1lh*sin(var(--a))),
        #0000 calc(100% - 1lh*sin(var(--a)) + 1px)
      );
    /* clip-path: polygon(calc(100% - 1lh) 0,0 0,var(--r) calc(50% - var(--s)/2),0 calc(100% - var(--s)),calc(100% - 1lh) calc(100% - var(--s)),calc(100% - 1lh) calc(100% - var(--r)),calc(100% - .5lh) 100%,100% calc(100% - var(--r)),100% calc(100% - var(--s))); */
    position: relative;
    rotate: calc(-1*var(--a));
    width: fit-content;
  }
  /* .ribbon:before, */
  .ribbon:after{
    content: "";
    position: absolute;
    rotate: var(--a);
    height: calc(1lh/cos(var(--a)));
    width: calc(100%*cos(var(--a)) - 1lh*sin(var(--a))) ;
    background: color-mix(in srgb,var(--c),#000 40%);
  }
  /* .ribbon:before {
    right: 0;
    top: 0;
    transform-origin: top right;
    clip-path: polygon(0 0,100% 0,calc(100% - 1lh/sin(var(--a))) 100%,0 100%,var(--r) 50%);
  } */
  .ribbon:after {
    left: 0;
    bottom: 0;
    transform-origin: bottom left;
    clip-path: polygon(calc(1lh/sin(var(--a))) 0,100% 0,calc(100% - var(--r)) 50%,100% 100%,0 100%);
    /* for smaller angles you may need the below 
    -webkit-mask: conic-gradient(from calc(90deg - var(--a)) at 0 100%,#000 25%,#0000 0);
    */
  }
