.ribbon {
  font-size: 13px;
  font-weight: bold;
  color: black;
  --s: 25em;   /* the ribbon size */
  --a: 50deg; /* the angle of the folded part */
  --r: .8em;  /* the cutout part */
  --c: #FF6B6B;
  --ct: #f75e5e;
  
  line-height: 6;
  padding-inline: calc(3lh*tan(var(--a)/2) + .3em) calc(var(--r) + .3em);
  margin-top: calc(var(--s)*sin(var(--a)));
  clip-path: polygon(0 0,0 -999px,calc(100% - var(--r)) -999px,calc(108% - var(--r)) 0,100% 50%,calc(108% - var(--r)) 100%,calc(1lh*tan(var(--a)/2)) 100%);
  background-color: var(--c); 
  width: 400px;
  position: relative;
  border-radius: 0 10px 10px 0;
  animation: unfoldRibbon 1.5s ease-in-out forwards;
}

.ribbon:before {
  content: "\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0 Make The Best Financial Developer";
  position: absolute;
  top: 0;
  left: 0;
  height: 1lh;
  width: var(--s);
  background: var(--ct);
  transform-origin: top left;
  rotate: calc(-1*var(--a));
  clip-path: polygon(0 0,200% 0,calc(200% - var(--r)) 50%,100% 100%,calc(1lh/tan(var(--a))) 100%);
  animation: unfoldRibbonBefore 1.5s ease-in-out forwards;
}

@keyframes unfoldRibbon {
  0% {
    transform: translateX(-50%) rotate(20deg);
    opacity: 0.5;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes unfoldRibbonBefore {
  0% {
    rotate: calc(-1*var(--a) - 20deg);
    opacity: 0.5;
  }
  100% {
    rotate: calc(-1*var(--a));
    opacity: 1;
  }
}